# Node
node_modules/
npm-debug.log
yarn-error.log
*.log

# Metro cache
.expo/
.expo-shared/
.expo/*
.haste_*
.packager-info.json

# React Native Cache
*.pack
*.tmp

# iOS
ios/Pods/
ios/build/
ios/DerivedData/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/build/
android/local.proper
